[user]
	name = Lazar Jelic
	username = jelic98
	email = lazarjelic98@gmail.com
[core]
	editor = vim
	tabwidth = 4
	whitespace = trailing-space,space-before-tab,indent-with-non-tab,cr-at-eol
	excludesfile = ~/.gitignore
[diff]
	tool = vimdiff
[mergetool]
	keepBackup = false
